@model MasterPiece.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            @*<p class="card-description">
                                    @Model.UserName Details
                                </p>*@
                            <form class="forms-sample">
                                <div class="form-group">
                                    <label for="categoryName">Category Name</label>
                                    <label type="text" class="form-control" id="categoryName"> @Model.Category_Name</label>
                                </div>
                                <div class="form-group">
                                    <label for="categoryDescription">Category Description</label>
                                    <label type="email" class="form-control" id="categoryDescription">@Model.Category_Description</label>
                                </div>
                                @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-primary mr-2" })
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>